.navbar {
  background-image: linear-gradient(to right, #9796fb, #a7a6ea);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo-section {
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.game-name {
  font-size: 23px;
  color: #fff;
  font-weight: bold;
}

.total-score {
  margin-right: 15px;
}

.nav-section {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 23px;
  font-weight: bold;
  padding: 10px 30px;
  justify-content: space-between;
}

@media all and (max-width: 575px) {
  .emoji-logo {
    height: 30px;
    width: 30px;
  }
  .game-name {
    font-size: 15px;
  }
  .total-score {
    font-size: 12px;
    margin-right: 10px;
  }
  .max-score {
    font-size: 12px;
  }
  .nav-section {
    padding: 10px 20px;
  }

}
